{% extends 'Home.html' %}

{% block courses %}
{% endblock courses %}

{% block companies %}
{% endblock companies %}

{% block body %}

<div class="video-container" style="font-family: 'Helvetica';margin-top: 7vh;">
    <div class="video-left">
       <h1 style="color: white;margin-left: 6vw;font-size: 4vw;">6 months In-House <br> Bootcamp programme- Kodr.</h1><br><br>
        <a href="{% url 'app1:courses' %}" style="padding: 2vh 2.5vw;color: white;background-color:rgb(53, 52, 52);margin-left: 6vw;border-radius:0.5vw;text-decoration: none;">
            Start On:11Nov 2024
        </a>

        <a href="{% url 'app1:courses' %}" style="padding: 2vh 2.5vw;color: white;background-color:rgb(53, 52, 52);margin-left: 2vw;border-radius:0.5vw;text-decoration: none;">
            Placements Assistance 
        </a><br><br><br><br>
        <div style="float: left;">
            <h2 style="color: white; margin-left: 6vw;float: left;font-size: 2.4vw;">Price</h2> 
            <div style="color: #24cfa6; float: left;margin-left: 1vw;font-size: 2.4vw;font-weight: bold;">₹ 59000  </div>
            <div style="color: white; float: left;margin-left: 1vw;padding-top: 2vh;">[50,000+18% Get]</div>
        </div><br><br><br><br><br>

        <div style="float: left;margin-left: 6vw;">
            <a  style="padding: 3vh 2vw;background-color:rgb(20, 61, 20);border-radius:0.5vw;font-size: 1.5vw;text-decoration: none;color: rgb(188, 186, 186);font-family: 'Helvetica';" href="{% url 'app1:courses' %}">
                Seats Are Full
            </a>  
        </div><br><br>
    </div><br><br>

    <div class="video-right"  style="margin-right: 3vw;">
        <iframe width="600" height="300" src="https://www.youtube.com/embed/pOGLAlGCKFE" title="This Bootcamp Will Change Your Life: Kodr x Sheryians !" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="border-radius: 0.1vw;"></iframe>
    </div>
</div><br><br><br><br>


<h1 style="color: white;margin-left: 6vw;font-size: 6.7vw;margin-top: 2vh;font-family: 'Helvetica';">We believe in,<br> <span style="color:#24cfa6;">Consistency.</span>No shortcuts. </h1><br><br>


<div style="font-family: 'Helvetica';">

    <h1 style="padding: 1.5vh 8vw;color: white;background-color:rgb(49, 47, 47);margin-left: 6vw;border-radius:3vw;text-decoration: none;float: left;">
        MERN Stack 
    </h1>
    <h1 style="padding: 1.5vh 6vw;color: white;background-color:rgb(49, 47, 47);margin-left: 4vw;border-radius:3vw;text-decoration: none;float: left;">
        Data Structure & Alogrithm
    </h1><br><br><br><br>
    <h1 style="padding: 1.5vh 8.7vw;color: white;background-color:rgb(49, 47, 47);margin-left: 6vw;border-radius:3vw;text-decoration: none;float: left;">
        DBMS-SQL
    </h1>
    <h1 style="padding: 1.5vh 8vw;color: white;background-color:rgb(49, 47, 47);margin-left: 4vw;border-radius:3vw;text-decoration: none;float: left;">
        CORE CS Subjects
    </h1><br><br><br><br>
    <h1 style="padding: 1.5vh 6vw;color: white;background-color:rgb(49, 47, 47);margin-left: 6vw;border-radius:3vw;text-decoration: none;float: left;">
        Placements Assistance
    </h1><br><br><br><br><br><br><br><br><br><br><br>

</div>

<div style="font-family: 'Helvetica';">
    <h1 style="color: white;margin-left: 6vw;font-size: 13vw; line-height: 1.5ch;float: left;">Non-Stop<br> <span style="color:#24cfa6;">5 Hours <br></span>Coding <span style="font-size: 4vw;">[Everyday]</span>  </h1><br>
    <br>
    <p style="color: white;margin-left: 7vw;font-size: 2vw;padding-top: 70vh;"> Monday To Saturday 11:00AM To 4:00PM.</p>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <h3 style="color: white;margin-left: 6vw;font-size: 13vw; line-height: 1ch;float: left;">Dominate. <br><span style="color:rgb(74, 73, 73);font-size: 5.5vw ;">From Start To Victory</h3><br>
    <br><br>
</div>

___________________________________________________________________________________________________________________________________
<details style="color: white; margin-left: 8vw;padding-top: 12vh;font-family: 'Helvetica';">
    <summary><h1> HTML/css</h1></summary>
<h2 style="font-weight: lighter;">HTML Basics</h2>
<h2 style="font-weight: lighter;">Semantic HTML</h2>
<h2 style="font-weight: lighter;">Forms and Validation</h2>
<h2 style="font-weight: lighter;">Multimedia Elements (Audio,Video)</h2>
<h2 style="font-weight: lighter;">CSS Box Model</h2>
<h2 style="font-weight: lighter;">Flexbox</h2>
<h2 style="font-weight: lighter;">Grid Layout</h2>
<h2 style="font-weight: lighter;">CSS Animantions</h2>
<h2 style="font-weight: lighter;">Trainsition</h2>
<h2 style="font-weight: lighter;">Keyfram Animation</h2>
<h2 style="font-weight: lighter;">Responsive Design</h2>
<h2 style="font-weight: lighter;">Media Queries</h2>
<h2 style="font-weight: lighter;">CSS Variables</h2>
<h2 style="font-weight: lighter;">CSS Frameworks (TailwindCSS)</h2>
</details>
___________________________________________________________________________________________________________________________________

<details style="color: white; margin-left: 8vw;padding-top: 5vh;font-family: 'Helvetica';">
    <summary><h1>JavaScript</h1></summary>
    <h2 style="font-weight: lighter;"> Introduction to JavaScript</h2>
    <h2 style="font-weight: lighter;"> Function (Declaration,Expression,Arrow)</h2>
    <h2 style="font-weight: lighter;"> Scope (Global,Local,Block) </h2>
    <h2 style="font-weight: lighter;"> Closer</h2>
    <h2 style="font-weight: lighter;"> Callbacks</h2>
    <h2 style="font-weight: lighter;"> Promises </h2>
    <h2 style="font-weight: lighter;"> Async/Await</h2>
    <h2 style="font-weight: lighter;"> Error Handling</h2>
    <h2 style="font-weight: lighter;"> Event Loop</h2>
    <h2 style="font-weight: lighter;"> DOM Manipulation</h2>
    <h2 style="font-weight: lighter;"> Event Handling</h2>
    <h2 style="font-weight: lighter;"> Object-Oriented Programming (oop)</h2>
    <h2 style="font-weight: lighter;"> Prototypes</h2>
    <h2 style="font-weight: lighter;"> Inheritance</h2>
    <h2 style="font-weight: lighter;"> this Keyword</h2>
    <h2 style="font-weight: lighter;"> ES6 Keyword (Destructuring,Spread Operation)</h2>
    <h2 style="font-weight: lighter;"> JSON Handling</h2>
    <h2 style="font-weight: lighter;"> Fetch APl</h2>
    <h2 style="font-weight: lighter;"> Redux </h2>
    <h2 style="font-weight: lighter;"> Hooks (userMemo,usecallback,useRef)</h2>
    <h2 style="font-weight: lighter;"> Form Handling </h2>
    <h2 style="font-weight: lighter;"> Two-Way Binding </h2>
    <h2 style="font-weight: lighter;"> Higher-Order Components</h2>
    <h2 style="font-weight: lighter;"> Lazy Laoding </h2>

</details>
___________________________________________________________________________________________________________________________________

<details style="color: white; margin-left: 8vw;padding-top: 5vh;font-family: 'Helvetica';">
    <summary><h1>Data Structures and  Alogrithm[DSA]</h1></summary>
    <h2 style="font-weight: lighter;">Arrays</h2>
    <h2 style="font-weight: lighter;"> Linked Lists</h2>
    <h2 style="font-weight: lighter;"> Stacks</h2>
    <h2 style="font-weight: lighter;"> Queues</h2>
    <h2 style="font-weight: lighter;"> Hash Tables</h2>
    <h2 style="font-weight: lighter;"> Graphs</h2>
    <h2 style="font-weight: lighter;"> Sorting Alogrithm</h2>
    <h2 style="font-weight: lighter;"> Searching Alogrithm</h2>
    <h2 style="font-weight: lighter;"> Dynamic Programming</h2>
    <h2 style="font-weight: lighter;"> Greedy Alogrithm</h2>
    <h2 style="font-weight: lighter;"> Backtracking</h2>
    <h2 style="font-weight: lighter;"> Recursion</h2>
    <h2 style="font-weight: lighter;"> Time Complexity</h2>
    <h2 style="font-weight: lighter;"> Space Complexity</h2>
</details>
___________________________________________________________________________________________________________________________________

<details style="color: white; margin-left: 8vw;padding-top: 5vh;font-family: 'Helvetica';">
    <summary><h1>Databases</h1></summary>
    <h2 style="font-weight: lighter;"> MongoDB</h2>
    <h2 style="font-weight: lighter;"> Aggregation in MongoDB</h2>
    <h2 style="font-weight: lighter;"> Indexing</h2>
    <h2 style="font-weight: lighter;"> Relationships in MongoDB</h2>
    <h2 style="font-weight: lighter;"> Redis</h2>
    <h2 style="font-weight: lighter;"> Replication</h2>
    <h2 style="font-weight: lighter;"> Sharding</h2>
    <h2 style="font-weight: lighter;"> MySQL</h2>
    <h2 style="font-weight: lighter;"> Queries</h2>
    <h2 style="font-weight: lighter;"> Joins in MySQL</h2>
    <h2 style="font-weight: lighter;"> Normalization</h2>
    <h2 style="font-weight: lighter;"> ACID Properties</h2>
    <h2 style="font-weight: lighter;"> Transation</h2>
    <h2 style="font-weight: lighter;"> Stored Procedure & Function</h2>
    <h2 style="font-weight: lighter;"> Triggers  </h2>
    <h2 style="font-weight: lighter;"> Optimization </h2>
    <h2 style="font-weight: lighter;"> Database Design </h2>

</details>

___________________________________________________________________________________________________________________________________
<details style="color: white; margin-left: 8vw;padding-top: 5vh;font-family: 'Helvetica';">
    <summary><h1>Node.js and Express [Backend]</h1></summary>
    <h2 style="font-weight: lighter;">File Handling</h2>
    <h2 style="font-weight: lighter;">Routing in Express<h2>
    <h2 style="font-weight: lighter;">Rest APIs</h2>
    <h2 style="font-weight: lighter;"> Middleware</h2>
    <h2 style="font-weight: lighter;"> Authentication (JWT,OAuth)</h2>
    <h2 style="font-weight: lighter;"> Session Managment</h2>
    <h2 style="font-weight: lighter;"> Cookies</h2>
    <h2 style="font-weight: lighter;"> Error Handling</h2>
    <h2 style="font-weight: lighter;"> WebSockets</h2>
    <h2 style="font-weight: lighter;"> File Uploads </h2>
    <h2 style="font-weight: lighter;"> API Rate Limiting</h2>
    <h2 style="font-weight: lighter;"> CORS</h2>
    <h2 style="font-weight: lighter;"> Testing (Mocha,chai)</h2>
    <h2 style="font-weight: lighter;"> Security (XSS,CSRF,DOS)</h2>
    <h2 style="font-weight: lighter;"> Environment variable</h2>
    <h2 style="font-weight: lighter;"> Debugging</h2>

</details>
___________________________________________________________________________________________________________________________________
<details style="color: white; margin-left: 8vw;padding-top: 5vh;font-family: 'Helvetica';">
    <summary><h1>React JS</h1></summary>
    <h2 style="font-weight: lighter;">File Handling</h2>
    <h2 style="font-weight: lighter;">Routing in Express<h2>
    <h2 style="font-weight: lighter;">Rest APIs</h2>
    <h2 style="font-weight: lighter;"> Middleware</h2>
    <h2 style="font-weight: lighter;"> Authentication (JWT,OAuth)</h2>
    <h2 style="font-weight: lighter;"> Session Managment</h2>
    <h2 style="font-weight: lighter;"> Cookies</h2>
    <h2 style="font-weight: lighter;"> Error Handling</h2>
    <h2 style="font-weight: lighter;"> WebSockets</h2>
    <h2 style="font-weight: lighter;"> File Uploads </h2>
    <h2 style="font-weight: lighter;"> API Rate Limiting</h2>
    <h2 style="font-weight: lighter;"> CORS</h2>
    <h2 style="font-weight: lighter;"> Testing (Mocha,chai)</h2>
    <h2 style="font-weight: lighter;"> Security (XSS,CSRF,DOS)</h2>
    <h2 style="font-weight: lighter;"> Environment variable</h2>
    <h2 style="font-weight: lighter;"> Debugging</h2>

</details>
___________________________________________________________________________________________________________________________________
<details style="color: white; margin-left: 8vw;padding-top: 5vh;font-family: 'Helvetica';">
    <summary><h1>Databases</h1></summary>
    <h2 style="font-weight: lighter;">File Handling</h2>
    <h2 style="font-weight: lighter;">Routing in Express<h2>
    <h2 style="font-weight: lighter;">Rest APIs</h2>
    <h2 style="font-weight: lighter;"> Middleware</h2>
    <h2 style="font-weight: lighter;"> Authentication (JWT,OAuth)</h2>
    <h2 style="font-weight: lighter;"> Session Managment</h2>
    <h2 style="font-weight: lighter;"> Cookies</h2>
    <h2 style="font-weight: lighter;"> Error Handling</h2>
    <h2 style="font-weight: lighter;"> WebSockets</h2>
    <h2 style="font-weight: lighter;"> File Uploads </h2>
    <h2 style="font-weight: lighter;"> API Rate Limiting</h2>
    <h2 style="font-weight: lighter;"> CORS</h2>
    <h2 style="font-weight: lighter;"> Testing (Mocha,chai)</h2>
    <h2 style="font-weight: lighter;"> Security (XSS,CSRF,DOS)</h2>
    <h2 style="font-weight: lighter;"> Environment variable</h2>
    <h2 style="font-weight: lighter;"> Debugging</h2>

</details>
___________________________________________________________________________________________________________________________________



<details style="color: white; margin-left: 8vw;padding-top: 5vh;font-family: 'Helvetica';">
    <summary><h1>Git/GitHub</h1></summary>
    <h2 style="font-weight: lighter;">File Handling</h2>
    <h2 style="font-weight: lighter;">Routing in Express<h2>
    <h2 style="font-weight: lighter;">Rest APIs</h2>
    <h2 style="font-weight: lighter;"> Middleware</h2>
    <h2 style="font-weight: lighter;"> Authentication (JWT,OAuth)</h2>
    <h2 style="font-weight: lighter;"> Session Managment</h2>
    <h2 style="font-weight: lighter;"> Cookies</h2>
    <h2 style="font-weight: lighter;"> Error Handling</h2>
    <h2 style="font-weight: lighter;"> WebSockets</h2>
    <h2 style="font-weight: lighter;"> File Uploads </h2>
    <h2 style="font-weight: lighter;"> API Rate Limiting</h2>
    <h2 style="font-weight: lighter;"> CORS</h2>
    <h2 style="font-weight: lighter;"> Testing (Mocha,chai)</h2>
    <h2 style="font-weight: lighter;"> Security (XSS,CSRF,DOS)</h2>
    <h2 style="font-weight: lighter;"> Environment variable</h2>
    <h2 style="font-weight: lighter;"> Debugging</h2>
</details>
___________________________________________________________________________________________________________________________________


<details style="color: white; margin-left: 8vw;padding-top: 5vh;font-family: 'Helvetica';">
    <summary><h1>DevOps and Development</h1></summary>
    <h2 style="font-weight: lighter;">File Handling</h2>
    <h2 style="font-weight: lighter;">Routing in Express<h2>
    <h2 style="font-weight: lighter;">Rest APIs</h2>
    <h2 style="font-weight: lighter;"> Middleware</h2>
    <h2 style="font-weight: lighter;"> Authentication (JWT,OAuth)</h2>
    <h2 style="font-weight: lighter;"> Session Managment</h2>
    <h2 style="font-weight: lighter;"> Cookies</h2>
    <h2 style="font-weight: lighter;"> Error Handling</h2>
    <h2 style="font-weight: lighter;"> WebSockets</h2>
    <h2 style="font-weight: lighter;"> File Uploads </h2>
    <h2 style="font-weight: lighter;"> API Rate Limiting</h2>
    <h2 style="font-weight: lighter;"> CORS</h2>
    <h2 style="font-weight: lighter;"> Testing (Mocha,chai)</h2>
    <h2 style="font-weight: lighter;"> Security (XSS,CSRF,DOS)</h2>
    <h2 style="font-weight: lighter;"> Environment variable</h2>
    <h2 style="font-weight: lighter;"> Debugging</h2>

</details>
___________________________________________________________________________________________________________________________________



<details style="color: white; margin-left: 8vw;padding-top: 5vh;font-family: 'Helvetica';">
    <summary><h1>Additional Topics</h1></summary>
    <h2 style="font-weight: lighter;">File Handling</h2>
    <h2 style="font-weight: lighter;">Routing in Express<h2>
    <h2 style="font-weight: lighter;">Rest APIs</h2>
    <h2 style="font-weight: lighter;"> Middleware</h2>
    <h2 style="font-weight: lighter;"> Authentication (JWT,OAuth)</h2>
    <h2 style="font-weight: lighter;"> Session Managment</h2>
    <h2 style="font-weight: lighter;"> Cookies</h2>
    <h2 style="font-weight: lighter;"> Error Handling</h2>
    <h2 style="font-weight: lighter;"> WebSockets</h2>
    <h2 style="font-weight: lighter;"> File Uploads </h2>
    <h2 style="font-weight: lighter;"> API Rate Limiting</h2>
    <h2 style="font-weight: lighter;"> CORS</h2>
    <h2 style="font-weight: lighter;"> Testing (Mocha,chai)</h2>
    <h2 style="font-weight: lighter;"> Security (XSS,CSRF,DOS)</h2>
    <h2 style="font-weight: lighter;"> Environment variable</h2>
    <h2 style="font-weight: lighter;"> Debugging</h2>

</details>


<br><br><br><br>

{% endblock body %}