{% extends 'Home.html' %}

{% block body %}

<div style="color: white;margin-left: 6vw;">
    <p style="font-family: NeueMachina;font-size: 6vw;margin-top: 20vh;">
        We're not a <span style="color: #24cfa6;">course <br>factory.</span>
    </p><br><br>
    <p style="font-family: 'Helvetica';font-size: 2.2vw;">
        We focus on courses that really help.
    </p>
</div>

<p style="color: white;margin-top: 22vh;font-family: 'Helvetica';font-size: 1.8vw;margin-left: 6vw;margin-bottom: -3vh;">
    Courses which do work ↓
</p>

{% endblock body%}


{% block companies %}
{% endblock companies %}
